/*
	* Global Styles
*/
body{
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	width:550px;
	height:580px;
}

a{
	text-decoration:none;
}

/*
	* Rounded Edges for Images
*/
.rounded_image > img
{
	-webkit-border-radius: 5px;
}

/*
	* Main Container
*/
.container
{
	overflow:hidden;
	width:inherit;
	height:inherit;
	background:#171717;
}

/*
	* Sidebar
*/
aside{
	width:127px;
	float:left;	
	
}

/*
	* Sidebar Menu
*/
aside ul{
	padding-left:10px;
}
aside ul li{
	padding-top:10px;
	padding-bottom:10px;
}
aside ul li.selected a{
	color:#fff;
}
aside ul li a{
	color:#867f7f;
	font-weight:bold;
}

/*
	* Right Side Content
*/
section{
	float:right;
	width:400px;
	height:inherit;
	background:#fafafa;
	overflow-x:hidden;
	overflow-y: auto;
}

/*
	* Hangouts
*/
section article.hangout{
	background:url(/images/list.png);
	min-height:69px;
	width:391px;
	float:left;
	padding-right:10px;
}


section article.hangout:hover
{
	
}

section article.hangout .top_nav{
	float:right;
	margin-right:8px;
}

section article.hangout .top_nav span{
	color:#999;
	font-size:11.5px;
}

section article.hangout .main_image
{
	float: left;
	margin-left:10px;
	margin-top:10px;
}
