/*
	* Import Global Styles
*/
@import url('reset.css');

/*
	* Global Styles
*/
body{
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	width:600px;
	height:580px;
}

a,a:visited,a:active{
	text-decoration:none;
	color:#999;
}

.clear{clear:both;}
/*
	* Rounded Edges for Images
*/
.rounded_image a > img
{
	-webkit-border-radius: 5px;
}

/*
	* Main Container
*/
.container
{
	overflow:hidden;
	width:inherit;
	height:inherit;
}

/*
	* Sidebar
*/
aside
{
	background: url('/images/sidebar_bg.png');
	repeat:both;
	width: 180px;
	height:inherit;
	float:left;
}

/*
	* Sidebar Menu
*/

aside #menu
{
}
aside #menu li
{
	padding:10px;
	border-bottom:1px;
	 -webkit-border-image:url('/images/border_bottom_menu.png') 100 100 100 100 repeat;
	padding-left:50px;
}

aside #menu li.selected
{
	background-color:#2A2A2A;
}

aside #menu li.selected a
{
	color: white !important;
	text-shadow: 2px 2px 2px #000;
}

aside #menu li a
{
	color:#867f7f;
	font-weight:bold;
}

aside #menu li#stream 
{
        background:url('/images/icons/contact.png');
	background-repeat:no-repeat;
	background-position:10px center ;
}
aside #menu li#monitor
{
        background:url('/images/icons/contact.png');
	background-repeat:no-repeat;
	background-position:10px center ;
}
aside #menu li#bugs 
{
        background:url('/images/icons/contact.png');
	background-repeat:no-repeat;
	background-position:10px center ;
}
aside #menu li#team
{
        background:url('/images/icons/contact.png');
	background-repeat:no-repeat;
	background-position:10px center ;
}
aside #menu li#news
{
        background:url('/images/icons/contact.png');
	background-repeat:no-repeat;
	background-position:10px center ;
}

/*
	* Right Side Content
*/
section
{
	float:right;
	width: 420px;
	height:inherit;
	background:#fafafa;
	overflow-x:hidden;
	overflow-y: auto;
	-webkit-box-shadow: -2px 0 15px 1px rgba(0,0,0,0.65);
}

/*
	* Hangouts
*/
section article.hangout{
	background:url(/images/list.png) repeat-x;
	min-height:70px;
	width:420px;
	float:left;
	position:relative;
}

section article.hangout .info
{
	font-size:11px;
	margin-top:12px;
	
} 

section article.hangout .info .top_nav{
	right:5px;
	position:absolute;
	z-index:3;
	margin-right:8px;
}

section article.hangout .top_nav span{
	color:#999;
	font-size:11.5px;
}
	
section article.hangout .top_nav span.public
{
	font-weight:bold;
}

section article.hangout .main_image
{
	float: left;
	margin-left:10px;
	margin-top:10px;
}

section article.hangout .clients{
	float:left;
	padding-left:10px;
}
section article.hangout .clients p{
	float:left;
	
}

section article.hangout .clients img{ 
	margin-top:2px;
	margin-right:5px;
	-webkit-border-radius: 5px
}

section article.hangout .arrow{
	position: absolute;
	top: 20px;
	right: 0px;
	margin-top:10px;
	margin-right:10px;
	display:block;
	width:10px;
	height:13px;
	background:url('/images/arrow.png');
	z-index:99;
}
